<footer class="footer py-3 bg-light fixed-bottom">
    <div class="container text-center">
        <div class="col-md-6 d-flex align-items-center">
            <span class="text-muted">© 2023 Gimnasio App.</span>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>